<div>

<div id="header" class="cc-base-gutter">
   <div class= "pull-left">
      <a class="" href="/">
      <img src="Resources/1.png" height="50px">
      </a>
   </div>
   <div class= "pull-right">
   <button ng-click='' class="btn btn-primary navbar-btn">Login</button>
   <button ng-click='' class="btn btn-primary navbar-btn">Logout</button>
   <button ng-click='' class="btn btn-primary navbar-btn">Register</button>
   <button ng-click='' class="btn btn-primary navbar-btn">Create</button>
   </div>
</div>

<div class="container cc-container">
   <h2> Movie Lists! </h2>
   
   <div class="pull-left" ng-repeat="mlist in movieLists">
      <div class="panel panel-default">
         <div class="panel-body">{{mlist.listName}}</div>
      </div>
   </div>

</div>

</div>